<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GlypnirGUI</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{{static_url("template/styles.c8efe1634a593aa35041.css")}}"></head>
<body>
  <app-root></app-root>
<script src="{{static_url("template/runtime-es2015.703a23e48ad83c851e49.js")}}" type="text/javascript"></script>
  <script src="{{static_url("template/polyfills-es2015.4d31cca2afc45cfd85b5.js")}}" type="text/javascript"></script>
  <script src="{{static_url("template/runtime-es5.465c2333d355155ec5f3.js")}}" nomodule type="text/javascript"></script>
  <script src="{{static_url("template/polyfills-es5.11fb2116c81a899eaa89.js")}}" nomodule type="text/javascript"></script>
  <script src="{{static_url("template/main-es2015.65f9e0e7310f2d278c21.js")}}" type="text/javascript"></script>
  <script src="{{static_url("template/main-es5.3f56d95ef5f7c5c5f7d9.js")}}" nomodule type="text/javascript"></script>
</body>
</html>
